<section class="portfolio">

	<div class="content-wrap portfolio-wrap">

		{% for category in site.categories %}

		<div class="portfolio-item">

			<a class="portfolio-item__link" href="{{ category.url | relative_url }}">

				<div class="portfolio-item__image">
					<img src="{{ category.image | relative_url }}" alt="{{ category.name }}">
				</div>

				<div class="portfolio-item__content">
					<div class="portfolio-item__info">
						<h2 class="portfolio-item__title">{{ category.name }}</h2>
					</div>
				</div>

			</a>

		</div>

		{% endfor %}

	</div>

</section>