
<style type="text/css">
/* Set the size of the div element that contains the map */
#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 75%;
  /* The width is the width of the web page */
  margin: auto;
}
</style>

<div class="contact-map" >
  <div id="map" class="map"></div>
</div>


<script>
  // Initialize and add the map
  function initMap() {
    // The location of Uluru
    const uluru = { lat: 40.593039, lng: 22.464219 };
    // The map, centered at Uluru
    const map = new google.maps.Map(document.getElementById("map"), {
      zoom: 13,
      center: uluru,
    });
    // The marker, positioned at Uluru
    const marker = new google.maps.Marker({
      position: uluru,
      map: map,
    });
  }
</script>


<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ site.google_maps_javascript_api_key }}&amp;callback=initMap"></script>

