---
layout: default
---




<section class="intro">

   <div class="wrap">

      <h1>{{ page.title }}</h1>
      <p>{{ page.subtitle }}</p>

       <img src="{{ page.image | relative_url }}"  alt="{{ page.name }}">

   </div>

</section>

<section class="single">

   <div class="wrap">

      {{ page.content }}

   </div>

</section>


<section class="single">

   <div class="wrap">
      {% if page.manufactor-logo %}
     <h5>Kataskeyasths:</h5>
      <img src="{{page.manufactor-logo}}">
     {% endif %}
  </br>
</br>
   {% if page.manual-link %}
     <h5>Texniko Egxeiridio:</h5>
     <a href="{{page.manual-link}}">
        <img src="/images/demo/manual-icon.png">
     </a>
     {% endif %}
   </div>

</section>